@model dynamic

@{
    ViewBag.Title = "Quản lý sinh viên";
}
@Html.AntiForgeryToken()
<link href="/Content/SiteCss/TrangQuanLySinhVienLop.css" rel="stylesheet">
<link href="/Content/croppie/croppie.css" rel="stylesheet">
<input id="sinhVienId" type="hidden" value="0" />
<h1 style="text-align: center;color: darkgoldenrod">QUẢN LÝ SINH VIÊN HỌC VIỆN</h1>
<hr />
<div class="row" style="margin: 20px 0">
    <div class="col-6 col-md-6 col-lg-6" style="text-align: center">
        <button id="themSinhVienBtn" class="btn btn-primary" style="font-size: 2rem">Thêm sinh viên</button>
    </div>
    <div class="col-6 col-md-6 col-lg-6" style="text-align: center">
        <a href="@Url.Action("ThemLoSinhVien", "SinhVien")" class="btn btn-success" style="font-size: 2rem">Thêm lô sinh viên</a>
    </div>
</div>
<hr />
<h2>DANH SÁCH SINH VIÊN</h2>
<table class="table table-bordered table-striped" id="danhSachSinhVien" style="width: 100%">
    <thead>
        <tr>
            <th>MSSV</th>
            <th>Họ và tên lót</th>
            <th>Tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Khóa</th>
            <th>Lớp</th>
            <th>Quản lý</th>
        </tr>
    </thead>
</table>
<div class="modal fade" id="saveSinhVienModal" style="overflow-y: scroll;" tabindex="-1" role="dialog" aria-labelledby="saveSinhVienModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Thêm sinh viên</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="saveSinhVienForm">   
                    <div class="row">
                        <div class="form-group col-6 col-md-6 col-lg-6">
                            <label for="hoVaTenLotSinhVien-input" style="font-size: 30px;">Họ và tên lót</label>
                            <input value="" name="hoVaTenLotSinhVien-input" id="hoVaTenLotSinhVien-input" type="text" class="form-control" style="max-width: 80%;" maxlength="100" />
                            <small id="hoVaTenLotSinhVien-inputLimit"></small>
                        </div>
                        <div class="form-group col-6 col-md-6 col-lg-6">
                            <label for="tenSinhVien-input" style="font-size: 30px;">Tên</label>
                            <input value="" name="tenSinhVien-input" id="tenSinhVien-input" type="text" class="form-control" style="max-width: 80%;" maxlength="50" />
                            <small id="tenSinhVien-inputLimit"></small>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group col-6 col-md-6 col-lg-6">
                            <label for="mssv-input" style="font-size: 30px;">Mã số sinh viên</label>
                            <input value="AS" name="mssv-input" id="mssv-input" type="text" class="form-control" style="max-width: 80%;" />
                        </div>
                        <div class="form-group col-6 col-md-6 col-lg-6">
                            <label for="ngaySinh-input" style="font-size: 30px;">Ngày sinh</label>
                            <input value="" name="ngaySinh-input" id="ngaySinh-input" type="date" class="form-control" style="max-width: 80%;" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group col-6 col-md-6 col-lg-6">
                            <label for="gioiTinh-input" style="font-size: 30px;">Giới tính</label>
                            <select class="form-control" name="gioiTinh-input" id="gioiTinh-input" style="max-width: 80%;"></select>
                        </div>
                        <div class="form-group col-6 col-md-6 col-lg-6">
                            <label for="khoaHoc-input" style="font-size: 30px;">Khóa học</label>
                            <select class="form-control" name="khoaHoc-input" id="khoaHoc-input" style="max-width: 80%;"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group col-6 col-md-6 col-lg-6">
                            <label for="danToc-input" style="font-size: 30px;">Dân tộc</label>
                            <select class="form-control" name="danToc-input" id="danToc-input" style="max-width: 80%"></select>
                        </div>
                        <div class="form-group col-6 col-md-6 col-lg-6">
                            <label for="tonGiao-input" style="font-size: 30px;">Tôn giáo</label>
                            <select class="form-control" name="tonGiao-input" id="tonGiao-input" style="max-width: 80%;"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group col-6 col-md-6 col-lg-6">
                            <label for="gioiTinh-input" style="font-size: 30px;">Ảnh bìa</label>
                            <img id="anhBiaSv" src="/Content/AnhBia/AnhSV/avatar.png" />
                            <input id="anhBiaSv_brower" type="file" />
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cropImagePop" id="editAnhBiaSvBtn">
                                Chỉnh sửa ảnh
                            </button>
                        </div>
                    </div>
                </form>  
                <strong>Lưu ý:</strong> Khi sinh viên được tạo sẽ được cung cấp một tài khoản mới với tên đăng nhập là "MSSV", mật khẩu là "MSSV + ngày tháng sinh". Sinh viên có thể thay đổi mật khẩu sau.<br />
                <strong>Ví dụ:</strong> Sinh viên có MSSV là AS100001 và ngày sinh là 02/03/1997 thì có tên đăng nhập là "AS100001", mật khẩu là "AS1000010203" <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: 20px">Đóng</button>
                <button type="button" class="btn btn-success" id="saveSinhVien" style="font-size: 20px">Thêm sinh viên</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"><strong>Chỉnh sửa ảnh</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="anhBiaSv-Wrapper"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" id="cropImageBtn" class="btn btn-primary">Up ảnh bìa</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/DataTable")
    <script src="@Url.Content("~/Scripts/croppie/croppie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SiteScript/services/SinhVienService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SiteScript/controllers/SinhVienController.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            showTabQuanLy("quanLySinhVienMenu", 0);
            QuanLySinhVienController.initTrang();
        });
    </script>
}
